.center{
  color: #797c7b;
  background: #93c287;
}
.center>h1:hover{
  color: #93dbd8;
}

.center,.play, .play1, .jogador2{
  padding: 10px 10px 10px 10px;
  text-align: center;
  align: center;
  vertical-align: middle;
}

#name_jogador1, #name_jogador2{
  text-align: center;
}

.j1, .j2, .palco{
  display: inline-block;
}

.cenario{
  margin-top: 50px;
  text-align: center;
}

.box{
  width: 100px;
  height: 100px;
}
.botton-right{
  border-bottom: 1px solid green;
  border-right: 1px solid green;
}

.botton{
  border-bottom: 1px solid green;
}

.right{
  border-right: 1px solid green;
}
