.center{
  text-align: center;
  align: center;
  vertical-align: middle;
}
.center{
  padding: 10px 10px 10px 10px;
}
.play1{
  padding: 10px 10px 10px 10px;
}
.jogador2{
  padding: 10px 10px 10px 10px;
}
